<!--
The contents of this file are subject to the CYPHON Proprietary Non-
Commercial Registered User Use License Agreement (the "Agreement”). You
may not use this file except in compliance with the Agreement, a copy
of which may be found at https://github.com/dunbarcyber/cyclops/. The
developer of the CYPHON technology and platform is Dunbar Security
Systems, Inc.

The CYPHON technology or platform are distributed under the Agreement on
an “AS IS” basis, WITHOUT WARRANTY OF ANY KIND, either express or
implied. See the Agreement for specific terms.

Copyright (C) 2017 Dunbar Security Solutions, Inc. All Rights Reserved.

Contributor/Change Made By: ________________. [Only apply if changes
are made]
-->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Cyphon Login</title>
    <link rel="stylesheet" href="{{ MAIN_CSS_URL }}">
  </head>
  <body>
    <div class="flex-frame flex-box--align-center flex-box--justify-center content">
      <div class="panel panel-default login">
        <div class="panel-heading">
          <h1 class="panel-title text-white">
            <img class="login__logo" alt="Cyphon" src="{{ CYPHON_LOGO_URL }}">
            <span class="login__heading">Login</span>
          </h1>
        </div>
        <div class="panel-body">
          <form method="post">

            {{#if ERRORS.non_field_errors}}
              <div class="alert alert-danger" role="alert">
                {{#each ERRORS.non_field_errors}}
                  <div>{{this}}</div>
                {{/each}}
              </div>
            {{/if}}


            {{#if ERRORS.email}}
              <div class="form-group has-error">
            {{else}}
              <div class="form-group">
            {{/if}}
            
              <label class="control-label" for="email">Email</label>
              <input type="email" name="email" class="form-control" id="email" placeholder="email@email.com" aria-describedby="email-error">

              {{#if ERRORS.email}}
                <span id="email-error" class="help-block">
                  {{ ERRORS.email }}
                </span>
              {{/if}}

            </div>

            {{#if ERRORS.password}}
              <div class="form-group has-error">
            {{else}}
              <div class="form-group">
            {{/if}}

              <label class="control-label" for="password">Password</label>
              <input type="password" name="password" class="form-control" id="password" placeholder="Password" aria-describedby="password-error">

              {{#if ERRORS.password}}
                {{#each ERRORS.password}}
                  <span id="password-error" class="help-block">
                    {{this}}
                  </span>
                {{/each}}
              {{/if}}

            </div>
            <button type="submit" class="btn btn-default btn-block">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>